		
<div class="container pb-5">
    <% layout('layouts/boilerplate') -%>
    <div class="row">
     <div class="col-md-5 pb-5 mb-5">
             <h4> <%= user.username %>'s profile  </h4>
         <a href="mailto:<%= user.email %> " > <%= user.email %> </a>
     </div>
     <div class="col-md-7 pb-5 mb-5">
        <h4> <%= user.username %>'s posts: </h4>
         <% posts.forEach(function(post) { %>
            <ul>
              <li> <a href="/posts/<%= post.id %>"> <%= post.title %> </a> </li>
            </ul>
         <% }) %>
     </div>
    </div>
</div> 

