<% layout('layouts/boilerplate') -%>
<div class="container col-md-4">
<h1>Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
	<div label="Title my-2">
	<input type="text" name="post[title]" class="form-control" placeholder="Title" value="<%= post.title  %>"></div>
	<div label="Price my-2">
	<input type="text" class="form-control" name="post[price]" placeholder="Price" value="<%= post.price  %>"></div>
	<div label="choose file">
		<input type="file" id="imageUpload" accept="images/*" name="images" multiple />
		<div>
		<% post.images.forEach(function(image, i) { %>
			<img src="<%= image.url %>" width="100px" />
			<label for="image<%= i %>">Delete?</label>
			<input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
		<% }); %>
		</div>
	</div>
	<div label="description"> 
		<textarea name="post[description]" placeholder="Description"><%= post.description  %></textarea>
	</div>
	

	<input type="submit">
</form>

<script src="/javascripts/post-edit.js"></script>
</div>