<% layout('layouts/boilerplate') -%>		
<div class="container px-0">
		<% include ../partials/paginatePost %>
	<h3 class="text-primary"> Trends </h3>
	<div class="row">
  <% posts.docs.forEach(function(post) { %>
	<div class="col-sm-4 py-2 ">
      <div class="card h-100" >
			<% post.images.forEach(function(image) { %>
	   <img src="<%= image.url %>" style="height: 200px" class="card-img-top" alt="fashion">
	   <% }); %>   
	    <div class="card-body ">
		 <h5 class="card-title "><%= post.title.charAt(0).toUpperCase() + post.title.slice(1) %></h5>
		  <p class="card-text "><%- post.description.substring(0, 60) + '...' %></p>
			<p class="card-text "> <%= post.price %> </p>
		 <a href="/posts/<%= post._id %>" class="btn btn-sm btn-outline-primary"> View more</a>
	  </div>
	</div>
</div>
  <% }); %>
  
</div>
<% include ../partials/paginatePost %>