<div class="container">
		<% layout('layouts/boilerplate') -%>
		<% include ../partials/paginatePost %>		
		<h1>Posts Index!</h1>
	<div class="row">
  <% posts.docs.forEach(function(post) { %>
	<div class="col-sm-4 py-2 ">
      <div class="card border border-0" >
			<% post.images.forEach(function(image) { %>
	   <img src="<%= image.url %>" style="height: 200px" class="card-img-top" alt="fashion">
	   <% }); %>   
	    <div class="card-body h-100 ">
		 <h5 class="card-title "><%= post.title %></h5>
		  <p class="card-text "><%= post.description %>.</p>
		  <p class="card-text "> <%= post.price %> </p>
		 <a href="/posts/<%= post.id %>" class="btn btn-sm btn-outline-primary">Go somewhere</a>
	  </div>
	</div>
</div>
  <% }); %>
  
  <% include ../partials/paginatePost %>
</div>
